@import "tailwindcss";

.font-space {
  font-family: "Space Grotesk", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.bg-img {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)),
    url(../public/bg.jpg) no-repeat right/cover;
}

.view {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 01)),
    url(../public/bgg.jpg) no-repeat right/cover;
}
